<table class="styled-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dom</td>
            <td>6000</td>
        </tr>
        <tr class="active-row">
            <td>Melissa</td>
            <td>5150</td>
        </tr>
        <!-- and so on... -->
    </tbody>
</table>

<div>
    {{#each departements}}
        {{!-- <b>key1:</b> {{this.Key1}} <br/>
        {{#each this.Key2}}
          <b>InnerKey1:</b> {{this.innerKey1}} <br/>
        {{/each}} --}}
        <h1>{{this.name}}</h1>
    {{/each}}
</div>