<!DOCTYPE html>
<html>
  <head>
    <title>Users Managent</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/script.js"></script>
  </head>
  <body>      
    <aside>
      <h1>UMS</h1>
      <div class="menu">
        <a class="menu-item">
          <h3 class="active">Users</h3>
        </a>
        <a class="menu-item">
          <h3>Departements</h3>
        </a>
      </div>
    </aside>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
